<html>
    <body>
        <a href="/">Homepage</a> <br>
        <a href="/listEmployees">List of Employee</a> <br>
        <a href="/newEmployee">Add new employee</a>
        
        <h1>Fill in the form to apply!</h1>

        <form method="POST" action="addNewEmployee">
            First Name <input type= "text" name="firstName" required/> <br>
            Last Name <input type= "text" name="lastName" required/> <br>
            Date of Birth <input type= "date" name="dob" required/> <br>
            Department <input type= "text" name="department" required/> <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>